body {
  font-family: Arial, sans-serif;
}

.xOrS {
  width: 25px;
  height: 25px;
  border: 2px double black;
  position: absolute;
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: grey; /* Filling the div with a grey color */
  color: white; /* Text color set to white */
  z-index: 1000; /* Higher than the z-index of doors and transoms */
}



#contextMenu {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#canvasContainer {
  display: flex;
  align-items: stretch;
}

#canvas {
  width: 100%;
  height: 600px;
  border: 1px solid black;
  position: relative;
  overflow: auto;
}


.door, .transom {
  position: absolute;
  cursor: move;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  transition: border-color 0.2s; /* Smooth transition for the selected effect */
  border: 5px double black;
}

.door {
  width: 100px;
  height: 200px;
  background-color: #9ccc65; /* Light green color */
}

.transom {
  width: 200px;
  height: 100px;
  background-color: #d1c4e9; /* Light purple color */
}

.door.selected, .transom.selected {
  border-color: red; /* Change border color to red for the selected effect */
}

.door-name, .transom-name {
  margin: 2px;
  font-size: 10px;
  color: black;
}

.door-info, .transom-info {
  font-size: 10px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.door-info label, .transom-info label,
.door-info input[type="text"], .transom-info input[type="text"] {
  display: none;
  width: 40px;
}

.door.selected .door-info label, .transom.selected .transom-info label,
.door.selected .door-info input[type="text"], .transom.selected .transom-info input[type="text"] {
  display: inline; /* or you can use 'display: block;' if you want them on separate lines */
}

.delete-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #f44336;
  border: 2px solid #d32f2f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

textarea {
  width: 1200px;
  resize: none;
}

.menu-item {
  cursor: pointer;
  padding: 5px;
  margin-bottom: 5px;
}

.menu-item:hover {
  background-color: #f5f5f5;
}

.image-container {
  position: relative;
}

.full-screen-btn {
  position: absolute;
  right: 10px;
  top: 10px;
}

#imageContainer {
  background-color: white;
}
